@font-face {
  font-family: 'myfont';
  src: url('./font/Helvetica-Bold.woff') format('woff');
}
@font-face {
  font-family: 'myfont2';
  src: url('./font/ACaslonPro-Semibold.woff') format('woff');
}
/* h1見出しのフォント指定 */
body {
    font-size: 26px ;
    color: #313a45;
    font-family: 'myfont2' ;
}
.font_test {
    font-size: 23px ;
    color: #F44336;     /* 文字色指定 */
    font-family: 'myfont' ; 
}
body {
   margin: 0px;
   padding: 0px 10px 100px 10px;
}
h1 {
   margin: 0px;
   padding: 50px 0px 5px 5px;
   font-size: 32px ;
   font-family: 'myfont' ; 
}
